<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hash Game</title>
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <div class="container">
            <h1 id="title">Hash game</h1>
            <h2 id="question">
                Play versus a friend or play solo versus a bot?
            </h2>
            <div class="buttons">
                <a href="./game.html?isPlay=false"></a>
                <a href="./game.html?isPlay=true"></a>
            </div>
        </div>
    </body>
</html>
